.card {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 30px #000610;
    background-color: transparent;

    overflow: hidden;

    img {
        width: 100%;
        border-radius: 15px 15px 0px 0px;
        transform-origin: 65% 75%;
        transition: transform 1s, filter .5s ease-out;
    }

    img:hover {
        transform: scale(1.2);
    }
}


.cardBottom {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #000610;
    width: 100%;

    border-radius: 0px 0px 10px 10px;
    padding: 10px;

    h4 {
        color: black;
        font-size: 30px;
    }

    ul {
        padding-left: 20px;
        padding-top: 20px;
        color: black;
    }

    li {
        margin: 10px;
    }
}