.containerMain{
    display: flex;
    flex-wrap: wrap;
}

.container1{
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: coral;
    width: 100%;
    min-width: 400px;
    min-height: 400px;
}

.container2{
    display: flex;
    flex: 1;
    width: 100%;
    background-color: aquamarine;
    min-height: 400px;
    min-width: 400px;
}